.nav-ul{
  padding:5px;
  margin:0px;
  background-color: #003c4c;
}
.nav-ul li{
  display: inline-block;
  padding:10px;
}
.nav-ul li a{
  color:white;
  text-decoration: none;
  padding :5px;
}
.footer{
  position: absolute;
  bottom: 0;
  background-color: #003c4c;
  width: 100%;
  text-align: center;
}
.appButton{
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: #b0e1ee;
  border: solid 1px;
  cursor: pointer;
  margin-left:100px;
}
.appButton:hover{
  background-color: #003c4c;
}
.register,.product{
  margin-left: 30%;
}
.inputBox{
  padding: 7px;
  display: block;
  border: 1px solid #61dafb;
  width:300px;
  margin:20px;
}
.login{
  margin-left: 30%;
  margin-top: 100px;
}
.nav-right{
  text-align: right;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.logo{
  width:45px;
  height:45px;
  border-radius: 50%;
  float: left;
  margin-top:3px;
  margin-left: 10px;
}
.invalid-input{
  display:block;
  color:red;
  margin-top: -20px;
  margin-left: 20px;
}
.product-list{
  text-align: center;
  margin-top: 50px;
}
.product-list ul li{
  display: inline-block;
  width:150px;
  border: 1px solid #61dafb;
  padding: 5px;
}
.product-list ul{
  margin: 0;
}
.search{
  width:400px;
  margin:20px;
  height:30px;
  padding-left: 30px;
  border: 1px solid #61dafb;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Add these styles to your CSS file or component */

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 500px;
  margin: 20px;
  height:200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 380px;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.card-description {
  color: #555;
}
